---
import Layout from './../layouts/Layout.astro';
---

<Layout title="Template">
  <main class="grow h-full text-color">
    <div
      class="h-96 p-4 flex flex-col items-start justify-center bg-gradient gap-4 mobile:h-80vh relative">
      <div class="absolute top-0 left-0 h-full w-ful" id="particles-js"></div>
      <div class="w-full max-w-desktop mr-auto ml-auto relative z-10">
        <h1
          class="text-2xl mb-5 font-extrabold font-montserrat tracking-wider mobile:text-3xl mobile:max-w-96 md:text-5xl md:mb-10 md:max-w-xl lg:text-6xl lg:max-w-3xl">
          Titulo principal de la pagina spectrum
        </h1>
        <p class="max-w-60 md:max-w-md leading-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid minus
          voluptatum quos ipsum hic quam soluta animi. Totam non porro dolores.
          Quisquam ipsum minima, dignissimos adipisci non consectetur corporis
          dolores!
        </p>
      </div>
    </div>
  </main>
</Layout>
<script
  src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"
  is:inline></script>
<script src="./../app.js"></script>
