---
import { Image } from 'astro:assets';
import { FaDiscord } from 'react-icons/fa';
import { FaXTwitter } from 'react-icons/fa6';
import IconA from './../components/Icons.js';
import '@fontsource-variable/raleway';
import '@fontsource-variable/montserrat';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Spectrum is the future of Software Developers Around the world" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://cdn.discordapp.com/attachments/1209244068123770883/1212168727169339423/e681b2ff-6c9b-4ec8-a5fe-6ccfd82086ab.jpeg?ex=65f0db19&is=65de6619&hm=1d4e395ecbc3f93c9600f699f85bb20c9cb4ad062f00e0940442a11554d62dc8&" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen font-raleway flex flex-col">
    <header class="grow-0 bg-gradient pt-5 pb-5 pr-4 pl-4">
      <div
        class="max-w-desktop w-full ml-auto mr-auto flex items-start justify-start">
        <div class="inline-block w-10 h-10 bg-purple-500">
        <link rel="icon" type="image/svg+xml" href="https://cdn.discordapp.com/attachments/1209244068123770883/1212168727169339423/e681b2ff-6c9b-4ec8-a5fe-6ccfd82086ab.jpeg?ex=65f0db19&is=65de6619&hm=1d4e395ecbc3f93c9600f699f85bb20c9cb4ad062f00e0940442a11554d62dc8&" />
       </div>
      </div>
    </header>
    <slot />
    <footer class="text-color grow-0 bg-footer pt-5 pb-5">
      <div
        class="text-center ml-auto mr-auto max-w-desktop h-full flex flex-col">
        <div
          class="flex flex-col gap-2 pt-2 pb-2 grow md:flex-row md:items-center md:justify-between p-4">
          <div>
            <span
              class="text-xl font-montserrat font-bold tracking-wider md:text-2xl lg:text-3xl"
              >Spectrum</span
            >
          </div>
          <aside>
            <h2 class="text-lg font-bold mb-2 md:text-xl">Contact us: thespectrumtoken@gmail.com</h2>
            <div class="md:flex md:gap-20 lg:gap-44">
              <div class="mb-2 md:mb-0 md:flex md:flex-col md:gap-5">
                <h3 class="text-md font-semibold mb-2">Social media</h3>
                <nav class="text-icon mb-4">
                  <ul class="flex items-center justify-center gap-4">
                    <li>
                      <IconA title="Github" href="https://">
                        <FaDiscord size="1.5rem" />
                      </IconA>
                    </li>
                    <li>
                      <IconA title="X" href="https://x.com/spectrum_token?s=21">
                        <FaXTwitter size="1.5rem" />
                      </IconA>
                    </li>
                  </ul>
                </nav>
              </div>
              <div>
                <h3 class="text-md font-semibold mb-2">Support us</h3>
                <a
                  href="http://"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="mb-2">Link</a
                >
                <p class="max-w-80 text-start">
                  <strong>BTC</strong>: bc1q800kscz27h8r5tw8g7l952q607y6l9x5guesya
                </p>
              </div>
            </div>
          </aside>
        </div>
        <p class="text-sm grow-0">
          &copy;2024 Spectrum labs | All rights reserved
        </p>
      </div>
    </footer>
  </body>
</html>
